@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d0714;
  display: grid;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 50px 10px 0px 10px;
}
